<div class="home-wrapper">
    <img src="https://ithemeslab.com/tfdemo/joomla/appetite/images/demo_img/mockup/cheff.png" alt="" class="cheff-img">
    <div class="slogan-container">
        <div class="restaurant-name">
                juicy food
        </div>
        <div class="tagline">
            We have a deep love for nature, hence we let the seasons direct our choice of produce. In other words it’s the changing cycle of the seasons that dictates our menu. In our kitchen we use 100 % locally sourced produce from small suppliers working and cultivating the land of our region. This gives us the freshest and most seasonal produce – which in turn creates the best ‘farm to table’ experience as possible.
        </div>
        <div class="slogan-and-slogan">
            <ul class="slogan-list">
                <li class="slogan">Where every ingredient tells a story.</li>
                <li class="slogan">Where your food dreams come true.</li>
                <li class="slogan">There’s a recipe for every life.</li>
            </ul>
            <ul class="slogan-list slogan2">
                <li class="slogan">No long waiting .</li>
                <li class="slogan">No long delivery.</li>
                <li class="slogan">No only card payment.</li>
            </ul>
        </div>
        
            <a href="/info" class="buttonlink">
                <div class="text-center flex self-center"> Get more info</div>
           </a>
           
      
    </div>
</div>
