<div class="info-wrapper">
    <div class="info-container">
        <div class="info-top">
            <div class="info-items-container">
                <div class="info-item"><mat-icon>store</mat-icon>
                    Company
                </div>
                <div class="info-item">
                    
                    some name
                </div>
                <div class="info-item">
                    <mat-icon>phone</mat-icon>
                    phone 
                </div>
                <div class="info-item">
                    +37256747102
                </div>
                <div class="info-item">
                    <mat-icon>home</mat-icon>
                    Adress
                </div>
                <div class="info-item">
                    Estonia , Tallinn , SomeAdress 14-57
                </div>
                
                <div class="info-item">
                    <mat-icon>mail</mat-icon>
                    email 
                </div>
                <div class="info-item">
                   blabla@email.blabla
                </div>
 
                <div class="info-item clickable">
                    Facebook <mat-icon>facebook</mat-icon>
                </div>
                <div class="info-item clickable">
                    Youtube
                  <mat-icon>thumb_up</mat-icon>
                 
                </div>
                
            </div>
            <div class="img-container">
                <img class="imgItem" src="../../../../assets//Screenshot_1.png"/>
            </div>
           
        </div>
       
    </div>
</div>
